.home {
  border: 1px solid black;
}


article {
  margin: 0px 10rem;
  border: 1px solid black;
  width: 350px;
  height: 350px;
}
header {
  display: flex;
  padding: 0px 5px;
  justify-content: space-between;
}

#summary {
  padding: 0px 5px;
  overflow-y: auto;
  font-weight: 300;
  font-size: 15px;
  max-height: 250px;
}
